.game{
  display:flex;
  flex-direction: row;
}

.game-board{
  margin-right:20px;
}

.square{
  width: 60px;
  height: 60px;
  background: #fff;
  border: 1px solid #ddd;
  float: left;
  font-size: 24px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.board-row:after{
  clear: both;
  content: '';
  display: table;
}

.game-info{
  margin-left: 20px;
}
